body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Spectral', serif;
  margin: 0 auto;
  color: #162DFB;
  width: 1280px;
  background-color: #F3F3F3;
}
/* Настройки div экранов */
#screen1 {
  height: 720px;
  margin: 0 auto;
  color: #F3F3F3;
  background-color: #162DFB;
  background-image: url("../img/s1b.svg");
}
#screen2 {
  height: 810px;
  margin: 0 auto;
  color: #162DFB;
  background-image: url("../img/s2b.svg");
}
#screen3 {
  height: 1074px;
  margin: 0px 0px 0px 0px;
}
#screen4 {
  height: 1105px;
  margin: 0px 0px 0px 0px;
}
#screen5 {
  height: 1286px;
  margin: 0px 0px 0px 0px;
  color: #F3F3F3;
  background-image: url("../img/s5b.svg");
}
#screen6 {
  height: 828px;
  margin: 0px 0px 0px 0px;
  color: #F3F3F3;
  background-image: url("../img/s6b.svg");
  background-color: #162DFB;
}
#screen7 {
  height: 1004px;
  margin: 0px 0px 0px 0px;
  color: #F3F3F3;
  background-color: #162DFB;
}
#screen8 {
  height: 967px;
  margin: 0px 0px 0px 0px;
  color: #F3F3F3;
  background-image: url("../img/s8b.svg");
  background-color: #162DFB;
}
#screen9 {
  height: 1344px;
  margin: 0px 0px 0px 0px;
  color: #F3F3F3;
  background-color: #162DFB;
}
#screen10 {
  height: 946px;
  margin: 0px 0px 0px 0px;
  background-image: url("../img/s10b.svg");
}
#screen11 {
  height: 1092px;
  margin: 0px 0px 0px 0px;
}
#screen12 {
  height: 759px;
  margin: 0px 0px 0px 0px;
}
/* Настройки внутри 2 экрана */
.s2text {
  width: 876px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
#s2t1 {
  padding: 52px 0px 0px 0px;
}
#s2t2 {
  padding: 34px 0px 0px 0px;
}
#s2t3 {
  padding: 34px 0px 0px 0px;
}
#s2t4 {
  padding: 34px 0px 0px 0px;
}
.lh1 {
  width: 221px;
  font-weight: 700;
}
.lh2 {
  width: 595px;
}
#s1img1 {
  display: flex;
  width: 96px;
  margin: 0 auto;
  padding: 207px 0px 0px 0px;
}
/* Настройки внутри 3 экрана */
#s3tablo {
  height: 744px;
  margin: 52px auto;
  color: #162DFB;
  background-color: #F3F3F3;
  background-image: url("../img/s3img1.svg");
}
#bukva {
  width: 40px;
  height: 54px;
  text-align: center;
}
#s3tablotext {
  width: 1160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
}
#romanfont {
  width: 520px
}
#italicfont {
  width: 520px
}
#city1 {
  padding-top: 214px;
  padding-left: 60px;
  font-weight: 200;
  width: 520px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city2 {
  padding-top: 8px;
  padding-left: 60px;
  font-weight: 600;
  width: 232px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city3 {
  padding-top: 8px;
  padding-left: 60px;
  font-weight: 400;
  width: 472px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city4 {
  padding-top: 8px;
  padding-left: 60px;
  font-weight: 500;
  width: 232px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city5 {
  padding-top: 8px;
  padding-left: 60px;
  font-weight: 600;
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city6 {
  padding-top: 8px;
  padding-left: 60px;
  font-weight: 700;
  width: 376px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city7 {
  padding-top: 8px;
  padding-left: 60px;
  font-weight: 800;
  width: 232px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city8 {
  padding-top: 214px;
  padding-left: 700px;
  font-weight: 200;
  font-style: italic;
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city9 {
  padding-top: 8px;
  padding-left: 700px;
  font-weight: 300;
  font-style: italic;
  width: 520px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city10 {
  padding-top: 8px;
  padding-left: 700px;
  font-weight: 400;
  font-style: italic;
  width: 328px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city11 {
  padding-top: 8px;
  padding-left: 700px;
  font-weight: 500;
  font-style: italic;
  width: 424px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city12 {
  padding-top: 8px;
  padding-left: 700px;
  font-weight: 600;
  font-style: italic;
  width: 184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city13 {
  padding-top: 8px;
  padding-left: 700px;
  font-weight: 700;
  font-style: italic;
  width: 424px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city14 {
  padding-top: 8px;
  padding-left: 700px;
  font-weight: 800;
  font-style: italic;
  width: 232px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Настройки заголовков */
h1 {
  margin: -125px auto -133px;
  width: 1101px;
  height: 397px;
  font-size: 288px;
  font-weight: 700;
  line-height: 397px;
}
h2 {
  width: 1160px;
  margin: 0 auto;
  padding-top: 52px;
  text-align: center;
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 500;
  line-height: 99px;
}
#screen2 h2 {
  padding: 122px 0px 0px 0px;
}
#screen5 h2 {
  padding: 122px 0px 0px 0px;
}
h3 {
  width: 1160px;
  margin: -10px auto 0px;
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  font-weight: 200;
}
/* Настройка текста*/
p {
  font-size: 32px;
  line-height: 44px;
  font-weight: 300;
}
#screen1 p {
  margin: 36px auto;
  width: 1092px;
  text-align: right;
  font-size: 36px;
  line-height: 50px;
  font-style: italic;
}
/* Настройка изображений*/
#tablo {
  margin: 39px 60px 0px 60px;
  width: 1160px;
}
#visa {
  margin: 52px 60px 0px 60px;
  width: 1160px;
}
#astyleregular {
  width: 570px;
  height: 569px;
}
#astyleitalic {
  width: 570px;
  height: 569px;
}
#s10img {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-top: 226px;
}
#s11img1 {
  width: 364px;
}
#s7img {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-top: 52px;
}
