body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Spectral', serif;
  margin: 0 auto;
  color: #162DFB;
  width: 1280px;
  background-color: #F3F3F3;
}
/* Настройки 1 экрана*/
#screen1 {
  height: 720px;
  margin: 0 auto;
  color: #F3F3F3;
  background-color: #162DFB;
  background-image: url("../img/s1b.svg");
}
#s1img {
  display: flex;
  width: 96px;
  margin: 0 auto;
  padding: 207px 0px 0px 0px;
} /* Самолёт */
h1 {
  margin: -125px auto -133px;
  width: 1101px;
  height: 397px;
  font-size: 288px;
  font-weight: 700;
  line-height: 397px;
} /* Настройки всех заголовков первого уровня*/
p {
  font-size: 32px;
  line-height: 44px;
  font-weight: 300;
} /* Настройки всех параграфов*/
#screen1 p {
  margin: 36px auto;
  width: 1092px;
  text-align: right;
  font-size: 36px;
  line-height: 50px;
  font-style: italic;
}
/* Настройки 2 экрана */
#screen2 {
  height: 810px;
  margin: 0 auto;
  color: #162DFB;
  background-image: url("../img/s2b.svg");
}
h2 {
  width: 1160px;
  margin: 0 auto;
  padding-top: 52px;
  text-align: center;
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 500;
  line-height: 99px;
} /* Настройки всех заголовков второго уровня*/
#screen2 h2 {
  padding: 122px 0px 0px 0px;
}
h3 {
  width: 1160px;
  margin: -10px auto 0px;
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  font-weight: 200;
}
.s2text {
  width: 876px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
#s2t1 {
  padding: 52px 0px 0px 0px;
}
#s2t2 {
  padding: 34px 0px 0px 0px;
}
#s2t3 {
  padding: 34px 0px 0px 0px;
}
#s2t4 {
  padding: 34px 0px 0px 0px;
}
.lh1 {
  width: 221px;
  font-weight: 700;
}
.lh2 {
  width: 595px;
}
/* Настройки 3 экрана */
#screen3 {
  height: 1074px;
  margin: 0px 0px 0px 0px;
}
#s3tablo {
  height: 744px;
  margin: 52px auto;
  color: #162DFB;
  background-color: #F3F3F3;
  background-image: url("../img/s3img1.svg");
}
.bukva1 {
  font-weight: 200;
  width: 40px;
  height: 54px;
  text-align: center;
}
.bukva2 {
  font-weight: 300;
  width: 40px;
  height: 54px;
  text-align: center;
}
.bukva3 {
  font-weight: 400;
  width: 40px;
  height: 54px;
  text-align: center;
}
.bukva4 {
  font-weight: 500;
  width: 40px;
  height: 54px;
  text-align: center;
}
.bukva5 {
  font-weight: 600;
  width: 40px;
  height: 54px;
  text-align: center;
}
.bukva6 {
  font-weight: 700;
  width: 40px;
  height: 54px;
  text-align: center;
}
.bukva7 {
  font-weight: 800;
  width: 40px;
  height: 54px;
  text-align: center;
}
#s3tablotext {
  padding-top: 214px;
  width: 1160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
}
#romanfont {
  width: 520px
}
#italicfont {
  width: 520px
}
#city1 {
  font-weight: 200;
  width: 520px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city2 {
  padding-top: 8px;
  font-weight: 600;
  width: 232px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city3 {
  padding-top: 8px;
  font-weight: 400;
  width: 472px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city4 {
  padding-top: 8px;
  font-weight: 500;
  width: 232px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city5 {
  padding-top: 8px;
  font-weight: 600;
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city6 {
  padding-top: 8px;
  font-weight: 700;
  width: 376px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city7 {
  padding-top: 8px;
  font-weight: 800;
  width: 232px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city8 {
  font-weight: 200;
  font-style: italic;
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city9 {
  padding-top: 8px;
  font-weight: 300;
  font-style: italic;
  width: 520px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city10 {
  padding-top: 8px;
  font-weight: 400;
  font-style: italic;
  width: 328px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city11 {
  padding-top: 8px;
  font-weight: 500;
  font-style: italic;
  width: 424px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city12 {
  padding-top: 8px;
  font-weight: 600;
  font-style: italic;
  width: 184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city13 {
  padding-top: 8px;
  font-style: italic;
  width: 424px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city14 {
  padding-top: 8px;
  font-style: italic;
  width: 232px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Настройки 4 экрана */
#screen4 {
  height: 1105px;
  margin: 0px 0px 0px 0px;
}
#s4img {
  display: flex;
  width: 1160px;
  padding-top: 52px;
  margin: 0 auto;
}
/* Настройки 5 экрана */
#screen5 {
  height: 1286px;
  margin: 0px 0px 0px 0px;
  color: #F3F3F3;
  background-image: url("../img/s5b.svg");
}
#screen5 h2 {
  padding: 122px 0px 0px 0px;
}
#s5lh {
  padding: 154px 0px 0px 120px;
  width: 465px;
  font-size: 48px;
  line-height: 66px;
  font-weight: 700;
  color: #162DFB;
}
#s5text {
  padding: 40px 0px 0px 120px;
  width: 705px;
  color: #162DFB;
}
/* Настройки 6 экрана */
#screen6 {
  height: 828px;
  margin: 0px 0px 0px 0px;
  color: #F3F3F3;
  background-image: url("../img/s6b.svg");
  background-color: #162DFB;
}
/* Настройки 7 экрана */
#screen7 {
  height: 1004px;
  margin: 0px 0px 0px 0px;
  color: #F3F3F3;
  background-color: #162DFB;
}
#s7img {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-top: 52px;
}
/* Настройки 8 экрана */
#screen8 {
  height: 967px;
  margin: 0px 0px 0px 0px;
  color: #F3F3F3;
  background-image: url("../img/s8b.svg");
  background-color: #162DFB;
}
/* Настройки 9 экрана */
#screen9 {
  height: 1344px;
  margin: 0px 0px 0px 0px;
  color: #F3F3F3;
  background-color: #162DFB;
}
#s9img {
  display: flex;
  width: 1160px;
  padding-top: 52px;
  margin: 0 auto;
}
/* Настройки 10 экрана */
#screen10 {
  height: 946px;
  margin: 0px 0px 0px 0px;
  background-image: url("../img/s10b.svg");
}
#remni {
  position: absolute;
  top: 9377px;
  left: 296px;
  font-size: 30px;
  line-height: 41px;
  width: 310px;
}
#illumi {
  position: absolute;
  top: 9377px;
  left: 578px;
  font-size: 30px;
  line-height: 41px;
  width: 434px;
}
/* Настройки 11 экрана */
#screen11 {
  height: 1092px;
  margin: 0px 0px 0px 0px;
}
#s11img {
  display: flex;
  width: 1160px;
  padding-top: 52px;
  margin: 0 auto;
}
/* Настройки 12 экрана */
#screen12 {
  height: 759px;
  margin: 0px 0px 0px 0px;
}
#s12img {
  padding-top: 107px;
}
.s12text {
  width: 662px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.lh3 {
  width: 254px;
  font-weight: 700;
}
.lh4 {
  width: 348px;
}
