body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Spectral', sans-serif;
  color: #162DFB;
  width: 1280px;
  background-color: #F3F3F3;
  margin: 0 auto;
}
#screen {
  height: 790px;
  margin: 0px 0px 0px 0px;
  background-image: url("../img/oblakaback.svg");
  background-color: #162DFB;
  color: #F3F3F3;
}
h1 {
  margin: 0 auto;
  padding: 140px 0px 0px 0px;
  width: 1101px;
  font-size: 288px;
  font-weight: 700;
  line-height: 397px;
}
#text1{
  width: 1092px;
  text-align: right;
  font-size: 36px;
  line-height: 50px;
  font-style: italic;
  margin: -97px auto;
}
#samoletzlet {
  width: 96px;
  height: 60px;
  margin: 10px auto;
}
#screen2 {
  width: 1030px;
  margin: 0px 0px 0px 0px;
}
#screen3 {
  height: 948px;
  margin: 57px 0px 0px 0px;
  background-color: #162DFB;
}
.fontstyles {
  display: flex;
  flex-direction: row;
  margin: 52px 0px 0px 60px;
  width: 1160px;
  justify-content: space-between;
}
h2 {
  margin: 0 auto;
  padding-top: 52px;
  width: 1160px;
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 500;
  line-height: 99px;
}
#screen3 h2 {
  color: #F3F3F3;
}
p {
  font-size: 32px;
  font-style: regular;
  line-height: 44px;
}

#text2{
  width: 570px;
  margin: 15px 0px 0px 60px;
}
#text3{
  width: 570px;
  margin: 0px 0px 0px 650px;
}
#tablo {
  margin: 39px 60px 0px 60px;
  width: 1160px;
}
#visa {
  margin: 52px 60px 0px 60px;
  width: 1160px;
}
#astyleregular {
  width: 570px;
  height: 569px;
}
#astyleitalic {
  width: 570px;
  height: 569px;
}
