body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Spectral', sans-serif;
  color: #162DFB;
  width: 1280px;
  background-color: #F3F3F3;
  margin: 0 auto;
}
.screen {
  height: 720px;
  margin: 0px 0px 0px 0px;
}
.screen2 {
  width: 911px;
  margin: 0px 0px 0px 0px;
}
.screen3 {
  height: 948px;
  margin: 57px 0px 0px 0px;
  background-color: #162DFB;
}
h1 {
  margin: 60px 0px 0px 60px;
  font-size: 192px;
  font-style: bold;
  line-height: 265px;
}
h2 {
  margin: 0px 0px 0px 60px;
  padding: 57px 0px 0px 0px;
  font-size: 72px;
  font-style: medium;
  line-height: 99px;
}
#z2 {
  color: #F3F3F3;
}
p {
  font-size: 32px;
  font-style: regular;
  line-height: 44px;
}
#text1{
  width: 688px;
  margin: -28px 0px 0px 60px;
}
#text2{
  width: 570px;
  margin: 15px 0px 0px 60px;
}
#tablo {
  margin: 39px 60px 0px 60px;
  width: 1160px;
}
#visa {
  margin: 52px 60px 0px 60px;
  width: 1160px;
}
