body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Spectral', sans-serif;
  color: #162DFB;
  background-color: #F3F3F3;
}
.screen {
  height: 1240px;
  margin-top: 0px;
}
h1 {
  padding-left: 60px;
  font-size: 210px;
  font-style: bold;
  line-height: 290px;
  margin-top: 60px;
}
p {
  padding-left: 60px;
  font-size: 35px;
  font-style: regular;
  line-height: 48px;
}
#text1{
  width: 650px;
  margin-top: -200px;
}
