body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Spectral', sans-serif;
  color: #162DFB;
  background-color: #F3F3F3;
}
h1 {
  font-size: 288px;
  font-style: bold;
}
